/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futuralt-book-webfont.eot");
  src: url("../fonts/futuralt-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-book-webfont.woff") format("woff"), url("../fonts/futuralt-book-webfont.ttf") format("truetype"), url("../fonts/futuralt-book-webfont.svg#futura_ltbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kankin';
  src: url("../fonts/kankin.eot");
  src: url("../fonts/kankin.eot?#iefix") format("embedded-opentype"), url("../fonts/kankin.woff") format("woff"), url("../fonts/kankin.ttf") format("truetype"), url("../fonts/kankin.svg#kankin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../sass/screen.scss */
body {
  font-family: Futura, Arial, Helvetica, sans-serif;
}

/* line 7, ../sass/screen.scss */
.container {
  width: 970px;
  margin: 0 auto;
}

/* line 12, ../sass/screen.scss */
.col-left {
  float: left;
  width: 310px;
}

/* line 17, ../sass/screen.scss */
.col-right {
  float: left;
  width: 310px;
  margin: 0 0 0 350px;
}

/* line 23, ../sass/screen.scss */
.block {
  width: 300px;
  margin: 0 0 20px;
}
/* line 27, ../sass/screen.scss */
.block h2, .block h1 {
  font-size: 1.15rem;
  padding: 0 0 15px 15px;
  text-transform: uppercase;
  line-height: 1.5rem;
}
/* line 34, ../sass/screen.scss */
.block p {
  font-size: 0.75rem;
  line-height: 0.95rem;
  padding: 0 0 0 15px;
}
/* line 40, ../sass/screen.scss */
.block a {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 15px 0 0 15px;
  text-decoration: none;
}

.block > p > a {
    display: inline;
    font-size: 0.75rem;
    margin: 0;
}

/* line 52, ../sass/screen.scss */
#navbar {
  width: 970px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0 -485px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
/* line 63, ../sass/screen.scss */
#navbar ul {
  padding: 0 0 0 30px;
}
/* line 66, ../sass/screen.scss */
#navbar ul li {
  display: block;
  float: left;
  line-height: 50px;
  font-size: 0.85rem;
  padding: 0 22px 0 0;
}
/* line 73, ../sass/screen.scss */
#navbar ul li a {
  color: #706f6f;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 78, ../sass/screen.scss */
#navbar ul li a:hover {
  color: #ff6e6e;
}
/* line 83, ../sass/screen.scss */
#navbar ul li.active a {
  color: #ff6e6e;
}
/* line 89, ../sass/screen.scss */
#navbar a.twitter {
  text-indent: -999rem;
  background: url('../img/twitter_ico.png?1363604849') no-repeat center center;
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 11px;
  right: 54px;
  outline: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 101, ../sass/screen.scss */
#navbar a.twitter:focus, #navbar a.twitter:active, #navbar a.twitter:hover {
  background-color: #0084B4;
}
/* line 106, ../sass/screen.scss */
#navbar a.facebook {
  text-indent: -999rem;
  background: url('../img/fb_ico.png?1363604830') no-repeat center center;
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 11px;
  right: 18px;
  outline: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 118, ../sass/screen.scss */
#navbar a.facebook:focus, #navbar a.facebook:active, #navbar a.facebook:hover {
  background-color: #3B5998;
}

/* line 124, ../sass/screen.scss */
#ustream {
  padding: 30px 0 10px;
  text-align: center;
}
/* line 128, ../sass/screen.scss */
#ustream p {
  padding: 20px 0 0 0;
}
/* line 132, ../sass/screen.scss */
#ustream span {
  font-size: 0.7rem;
}

/* line 141, ../sass/screen.scss */
#home {
  height: 950px;
  width: 100%;
}
/* line 145, ../sass/screen.scss */
#home .top {
  height: 355px;
  width: 100%;
  padding: 1px 0 0 0;
  /*background:url('../img/video_coco.jpg') no-repeat center top #707070;*/
}
/* line 152, ../sass/screen.scss */
#home h1 img {
  display: block;
  margin: 115px auto 0;
}
/* line 157, ../sass/screen.scss */
#home #menu {
  width: 890px;
  height: 200px;
  margin: 45px auto 0;
}
/* line 162, ../sass/screen.scss */
#home #menu li {
  font-family: Kankin, Verdana, Tahoma, sans-serif;
  display: block;
  float: left;
  width: 200px;
  padding: 0 60px 0 0;
  margin: 0 0 0 50px;
}
/* line 170, ../sass/screen.scss */
#home #menu li:last-child {
  margin: 0;
  width: 210px;
}
/* line 175, ../sass/screen.scss */
#home #menu li a {
  color: #242424;
  font-size: 3rem;
  line-height: 3.3rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  float: left;
  width: 100%;
  padding: 32px 0 0 0;
  background: url('../img/menu_hover.gif?1363621409') no-repeat -210px -11px;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
/* line 188, ../sass/screen.scss */
#home #menu li a:hover {
  background: url('../img/menu_hover.gif?1363621409') no-repeat -210px 0;
}
/* line 195, ../sass/screen.scss */
#home #tweet-feed {
  width: 700px;
  height: 32px;
  margin: 55px auto 0;
}
/* line 200, ../sass/screen.scss */
#home #tweet-feed span {
  -webkit-border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
  -ms-border-radius: 16px 0 0 16px;
  -o-border-radius: 16px 0 0 16px;
  border-radius: 16px 0 0 16px;
  background-image: linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -moz-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -ms-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -o-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -webkit-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-color: #141414;
  /* For IE9 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4949), color-stop(1, #141414));
  display: block;
  float: left;
  display: block;
  height: 32px;
  width: 50px;
}
/* line 209, ../sass/screen.scss */
#home #tweet-feed span i {
  background: url('../img/twitter_red_ico.png?1363524857') no-repeat 18px 7px;
  display: block;
  float: left;
  width: 100%;
  height: 32px;
}
/* line 218, ../sass/screen.scss */
#home #tweet-feed strong {
  background: none repeat scroll 0 0 #707070;
  color: white;
  display: block;
  float: left;
  font-size: 0.8rem;
  height: 32px;
  line-height: 30px;
  text-indent: 20px;
  width: 650px;
  -webkit-border-radius: 0 16px 16px 0;
  -moz-border-radius: 0 16px 16px 0;
  -ms-border-radius: 0 16px 16px 0;
  -o-border-radius: 0 16px 16px 0;
  border-radius: 0 16px 16px 0;
}

/* line 237, ../sass/screen.scss */
#espace {
  height: 876px;
  width: 100%;
  position: relative;
  background: url('../img/espace_bg.jpg?1363785285') no-repeat top center fixed;
  color: white;
}
/* line 244, ../sass/screen.scss */
#espace .center {
  font-family: Kankin, Verdana, Tahoma, sans-serif;
  background: url('../img/title_border.png?1363713173') no-repeat scroll left 4px transparent;
  display: block;
  font-size: 3.5rem;
  height: 172px;
  left: 51%;
  line-height: 3.9rem;
  margin: 0 -83px;
  padding: 0 0 0 25px;
  position: absolute;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  top: 304px;
  width: 166px;
  z-index: 400;
}
/* line 262, ../sass/screen.scss */
#espace p.intro {
  font-size: 1.05rem;
  line-height: 1.3rem;
  padding: 100px 0 0 15px;
  width: 545px;
}
/* line 270, ../sass/screen.scss */
#espace .col-left .block:first-child {
  padding: 70px 0 142px 0;
}
/* line 273, ../sass/screen.scss */
#espace .col-left .block:first-child a {
  color: #ff6e6e;
}
/* line 279, ../sass/screen.scss */
#espace .col-left .block:last-child span {
  display: block;
  line-height: 2rem;
}
/* line 287, ../sass/screen.scss */
#espace .col-right .block:first-child {
  margin-top: 80px;
  padding-left: 10px;
  margin-bottom: 154px;
}
/* line 293, ../sass/screen.scss */
#espace .col-right .block:last-child {
  padding-left: 10px;
}
/* line 296, ../sass/screen.scss */
#espace .col-right .block:last-child p {
  line-height: 1.25rem;
}
/* line 302, ../sass/screen.scss */
#espace a {
  color: white;
  position: relative;
  z-index: 5000;
}
/* line 308, ../sass/screen.scss */
#espace .bg {
  background: url('../img/leaf_over.png?1363525194') no-repeat fixed 50% 53% transparent;
  height: 1300px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}

/* line 323, ../sass/screen.scss */
#coworking {
  height: 1045px;
  width: 100%;
  position: relative;
  background: url('../img/coworking_bg.png?1363783748') no-repeat center center fixed #e6e6e6;
  color: #242424;
  z-index: 500;
}
/* line 331, ../sass/screen.scss */
#coworking .center {
  font-family: Kankin, Verdana, Tahoma, sans-serif;
  background: url('../img/title_border_black.png?1363780897') no-repeat scroll left 4px transparent;
  display: block;
  font-size: 3.5rem;
  height: 172px;
  left: 51%;
  line-height: 3.9rem;
  margin: 0 -83px;
  padding: 0 0 0 25px;
  position: absolute;
  text-transform: uppercase;
  top: 385px;
  width: 166px;
  z-index: 400;
}
/* line 348, ../sass/screen.scss */
#coworking p.intro {
  font-size: 1.05rem;
  line-height: 1.3rem;
  padding: 100px 0 0 15px;
  width: 735px;
}
/* line 356, ../sass/screen.scss */
#coworking .col-left .block:first-child {
  padding: 70px 0 42px 0;
}
/* line 359, ../sass/screen.scss */
#coworking .col-left .block:first-child p.first {
  margin-bottom: 20px;
  width: 80%;
}
/* line 366, ../sass/screen.scss */
#coworking .col-left .block:last-child p {
  margin-bottom: 10px;
}
/* line 373, ../sass/screen.scss */
#coworking .col-right .block:first-child {
  margin-top: 350px;
  padding-left: 10px;
  margin-bottom: 60px;
}
/* line 380, ../sass/screen.scss */
#coworking a {
  color: #242424;
  position: relative;
  z-index: 5000;
}
/* line 386, ../sass/screen.scss */
#coworking .bg {
  background: url('../img/pencil_over.png?1363783880') no-repeat fixed 65% 160%;
  height: 1300px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}
/* line 396, ../sass/screen.scss */
#coworking #coworkinglille strong {
  border-right: 1px solid #242424;
  float: left;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0 10px 0 0;
  position: relative;
  right: 12px;
  text-align: right;
  top: 7px;
  width: 150px;
}
/* line 409, ../sass/screen.scss */
#coworking #stats {
  clear: both;
  margin: 0 auto;
  padding: 68px 0 0;
  width: 830px;
}
/* line 415, ../sass/screen.scss */
#coworking #stats .stat {
  text-align: center;
  width: 25%;
  float: left;
  height: 200px;
}
/* line 421, ../sass/screen.scss */
#coworking #stats .stat img {
  display: inline;
}
/* line 425, ../sass/screen.scss */
#coworking #stats .stat p {
  font-size: 0.75rem;
  line-height: 0.95rem;
  padding: 10px 0 0 15px;
}

/* line 438, ../sass/screen.scss */
#tierslieu {
  height: 794px;
  width: 100%;
  position: relative;
  background: url('../img/makerspace_bg.jpg?1363882554') no-repeat top center fixed #b29d88;
  color: #242424;
  z-index: 500;
}
/* line 446, ../sass/screen.scss */
#tierslieu .center {
  font-family: Kankin, Verdana, Tahoma, sans-serif;
  background: url('../img/title_border.png?1363713173') no-repeat scroll left 4px transparent;
  display: block;
  font-size: 3.5rem;
  height: 172px;
  left: 52%;
  line-height: 3.9rem;
  margin: 0 -83px;
  padding: 0 0 0 25px;
  position: absolute;
  text-transform: uppercase;
  top: 286px;
  width: 166px;
  z-index: 400;
  color: white;
}
/* line 464, ../sass/screen.scss */
#tierslieu p.intro {
  font-size: 1.05rem;
  line-height: 1.3rem;
  padding: 100px 0 0 15px;
  width: 590px;
}
/* line 472, ../sass/screen.scss */
#tierslieu .col-left .block:first-child {
  padding: 100px 0 145px 0;
}
/* line 475, ../sass/screen.scss */
#tierslieu .col-left .block:first-child {
  margin-bottom: 20px;
  width: 84%;
  font-size: 1.05rem;
  line-height: 1.3rem;
}
/* line 484, ../sass/screen.scss */
#tierslieu .col-left .block:last-child p {
  margin-bottom: 10px;
}
/* line 488, ../sass/screen.scss */
#tierslieu .col-left .block:last-child strong {
  font-weight: bold;
}
/* line 496, ../sass/screen.scss */
#tierslieu .col-right {
  position: relative;
  height: 500px;
}
/* line 500, ../sass/screen.scss */
#tierslieu .col-right .block {
  margin-top: 350px;
  padding-left: 10px;
  margin-bottom: 60px;
}
/* line 507, ../sass/screen.scss */
#tierslieu a {
  color: #242424;
  position: relative;
  z-index: 5000;
}
/* line 513, ../sass/screen.scss */
#tierslieu .bg {
  background: url('../img/explosion_over.png?1363884248') no-repeat fixed 57% 115%;
  height: 1300px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}
/* line 523, ../sass/screen.scss */
#tierslieu #meuhlab {
  margin-top: 345px;
}
/* line 526, ../sass/screen.scss */
#tierslieu #meuhlab strong {
  border-right: 1px solid #242424;
  float: left;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0 10px 0 0;
  position: relative;
  right: 12px;
  text-align: right;
  top: 2px;
  width: 150px;
}
/* line 540, ../sass/screen.scss */
#tierslieu #meuhpics {
  bottom: -100px;
  left: -100px;
  margin: 0 auto;
  padding: 90px 0 0;
  position: absolute;
  width: 400px;
}
/* line 548, ../sass/screen.scss */
#tierslieu #meuhpics div {
  text-align: center;
  width: 33%;
  float: left;
  height: 160px;
}
/* line 554, ../sass/screen.scss */
#tierslieu #meuhpics div img {
  display: inline;
}
/* line 558, ../sass/screen.scss */
#tierslieu #meuhpics div p {
  font-size: 0.75rem;
  line-height: 0.95rem;
  padding: 10px 0 0 15px;
}

/* line 571, ../sass/screen.scss */
#events {
  height: 775px;
  width: 100%;
  position: relative;
  background: url('../img/events_bg.jpg?1363947269') no-repeat top center #e4e4e4;
  color: #242424;
  z-index: 500;
}
/* line 579, ../sass/screen.scss */
#events .center {
  font-family: Kankin, Verdana, Tahoma, sans-serif;
  background: url('../img/title_border.png?1363713173') no-repeat scroll left 4px transparent;
  display: block;
  font-size: 3.5rem;
  height: 172px;
  left: 52%;
  line-height: 3.9rem;
  margin: 0 -83px;
  padding: 0 0 0 25px;
  position: absolute;
  text-transform: uppercase;
  top: 286px;
  width: 266px;
  z-index: 400;
  color: white;
}
/* line 597, ../sass/screen.scss */
#events .col-left {
  width: 400px;
  float: none;
}
/* line 601, ../sass/screen.scss */
#events .col-left .block {
  width: 380px;
}
/* line 605, ../sass/screen.scss */
#events .col-left .block:first-child {
  padding: 100px 0 55px 0;
}
/* line 608, ../sass/screen.scss */
#events .col-left .block:first-child p {
  margin-bottom: 20px;
}
/* line 614, ../sass/screen.scss */
#events .col-left .block:last-child p {
  margin-bottom: 10px;
}
/* line 620, ../sass/screen.scss */
#events a {
  color: #242424;
}

/* line 629, ../sass/screen.scss */
#contact {
  width: 100%;
  height: 750px;
}
/* line 633, ../sass/screen.scss */
#contact .top {
  background: url('../img/map_bg.jpg?1363949424') no-repeat center center;
  height: 325px;
  width: 100%;
}
/* line 639, ../sass/screen.scss */
#contact .col-left {
  width: 480px;
  float: left;
  padding: 0 50px 0 0;
}
/* line 644, ../sass/screen.scss */
#contact .col-left .block {
  width: 480px;
}
/* line 648, ../sass/screen.scss */
#contact .col-left h2, #contact .col-left h1 {
  float: left;
  width: 220px;
  padding: 0 20px 0 0;
  text-align: right;
}
/* line 655, ../sass/screen.scss */
#contact .col-left p {
  width: 240px;
  float: left;
  padding: 0;
}
/* line 661, ../sass/screen.scss */
#contact .col-left a {
  font-weight: normal;
}
/* line 665, ../sass/screen.scss */
#contact .col-left .tel {
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0 0 0 35px;
  background: url('../img/tel.gif?1363955003') no-repeat 5px center;
}
/* line 673, ../sass/screen.scss */
#contact .col-left .mail {
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0 0 0 35px;
  color: #242424;
  margin: 0;
  background: url('../img/mail.gif?1363954983') no-repeat left center;
}
/* line 683, ../sass/screen.scss */
#contact .col-left .adresse {
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0 0 0 35px;
  background: url('../img/adresse.gif?1363955020') no-repeat 5px 0;
  margin: 0 0 25px;
}
/* line 692, ../sass/screen.scss */
#contact .col-left .horaires {
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0 0 0 35px;
  background: url('../img/horaires.gif?1363955056') no-repeat 5px 0;
}
/* line 700, ../sass/screen.scss */
#contact .col-left .block:first-child {
  padding: 60px 0 90px 0;
}
/* line 705, ../sass/screen.scss */
#contact .col-right {
  width: 440px;
  float: left;
  margin: 0;
}
/* line 710, ../sass/screen.scss */
#contact .col-right .block {
  width: 440px;
}
/* line 714, ../sass/screen.scss */
#contact .col-right a {
  display: inline;
  color: #242424;
  font-weight: normal;
  margin: 0 5px 0 0;
}
/* line 721, ../sass/screen.scss */
#contact .col-right .block:first-child {
  padding: 60px 0 36px 0;
}
/* line 725, ../sass/screen.scss */
#contact .col-right .block:last-child a {
  display: block;
  line-height: 1.5rem;
}

/* line 734, ../sass/screen.scss */
footer {
  background: none repeat scroll 0 0 #242424;
  color: white;
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 25px 0 70px;
  text-align: center;
  width: 100%;
}

/* WAT! What's this stylesheet?! */
.l-agenda .bg {
  z-index: -1 !important;
}

.l-agenda .col-right {
    float: left;
    width: 310px;
    margin: 73px 0px 0px 0px;
}

.l-agenda .block:first-child {
  padding-bottom: 0px !important;
}
