  <div id="navbar">
            <ul>
                <li class="active"><a href="/#espace">L'espace</a></li>
                <li><a href="/#coworking">Coworking</a></li>
                <li><a href="/#tierslieu">Tiers-lieu</a></li>
                <li><a href="/#events">Ateliers &amp; Évènements</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="http://boutique.lacoroutine.org">Boutique</a></li>
                <li><a href="http://wiki.lacoroutine.org">Le wiki </a></li>
            </ul>
            <a target="_blank" href="https://twitter.com/lacoroutine" class="twitter" title="Aller à la page twitter de la Coroutine">Twitter</a>
            <a target="_blank" href="http://www.facebook.com/lacoroutine" class="facebook" title="Aller à la page facebook de la Coroutine">Facebook</a>
        </div>
