<div class="l-navbar">
  <ul>
    {% if page.locale == 'en' %}
      <li class="active"><a href="/en.html#the-space">The space</a></li>
      <li><a href="/en.html#coworking">Coworking</a></li>
      <li><a href="/en.html#third-place">Third-place</a></li>
      <li><a href="/en.html#events">Workshops &amp; Events</a></li>
      <li><a href="/en.html#contact">Contact</a></li>
      <li><a href="http://boutique.lacoroutine.org">Pricing</a></li>
    {% else %}
      <li class="active"><a href="/#espace">L'espace</a></li>
      <li><a href="/#coworking">Coworking {{ page.locale }}</a></li>
      <li><a href="/#tierslieu">Tiers-lieu</a></li>
      <li><a href="/#events">Ateliers &amp; Événements</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li><a href="https://magasin.lacoroutine.org">Boutique</a></li>
      <li><a href="http://wiki.lacoroutine.org">Le wiki </a></li>
    {% endif %}
  </ul>

  <ul class='langs'>
    <li class="{% if page.url != '/en.html' %}active{% endif %}"><a href="/">FR</a></li>
    <li class="{% if page.url == '/en.html' %}active{% endif %}"><a href="/en.html">EN</a></li>
  </ul>

  <a target="_blank" href="https://twitter.com/lacoroutine" class="twitter" title="Twitter">Twitter</a>
  <a target="_blank" href="http://www.facebook.com/lacoroutine" class="facebook" title="Facebook">Facebook</a>
</div>
