<div class="meeting-room-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/img/meeting-room/meeting-room.jpg" itemprop="contentUrl" data-size="2880x2160">
      <img src="/img/meeting-room/meeting-room-thumbnail.jpg" itemprop="thumbnail" alt="Salle de réunion" width="100" />
    </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/img/meeting-room/meeting-room-paper-board.jpg" itemprop="contentUrl" data-size="2880x2160">
      <img src="/img/meeting-room/meeting-room-paper-board-thumbnail.jpg" itemprop="thumbnail" alt="Salle de réunion avec Paper board et Ecran" width="100" />
    </a>
  </figure>
  <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/img/meeting-room/private-meeting-room.jpg" itemprop="contentUrl" data-size="2880x2160">
      <img src="/img/meeting-room/private-meeting-room-thumbnail.jpg" itemprop="thumbnail" alt="Salle de réunion privée" width="100" />
    </a>
  </figure>
</div>
