
    <section id="about" class="page">

      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>{{ site.section_team_title }}</h2>
            <div class="border"></div>
            <p>{{ site.section_team_text }}</p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p> -->
          </div>
          
          <div class="row">

            {% for member in site.data.team %}
            <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
              <div class="profile-photo">
                <img class="img-responsive" src="{{ site.baseurl }}/i/people/{{member.id}}.jpg" alt="{{ member.name }}">
              </div>
              <div class="bio">
                <h4>{{ member.name }}</h4>
                <h5>{{ member.role }}</h5>
                <div class="border"></div>
                <p>{{ member.meta }}</p>
                <ul class="list-inline">
                  {% if member.stream_url %}
                  <li>
                    <a href="{{ member.stream_url}}" title="Stream">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.website %}
                  <li>
                    <a href="{{ member.website}}" title="Website">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.github_username %}
                  <li>
                    <a href="http://www.github.com/{{ member.github_username }}" title="GitHub">
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.twitter_username %}
                  <li>
                    <a href="http://www.twitter.com/{{ member.twitter_username }}" title="Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.linkedin_url %}
                  <li>
                    <a href="{{ member.linkedin_url }}" title="LinkedIn">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.email %}
                  <li>
                    <a href="mailto:{{ member.email }}" title="Email">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.facebook_url %}
                  <li>
                    <a href="{{ member.facebook_url}}" title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  {% endif %}                  
                  {% if member.googleplus_username %}
                  <li>
                    <a href="http://www.plus.google.com/+{{ member.googleplus_username }}" title="Google+">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      {% include section_twitter.html %}
    </section>
