<section id="contact" class='m-home--contact'>
  <div class="top">&nbsp;</div>
  <div class="container">
    <div class="col-left">
      <div class="block">
        <h1>Contact us</h1>
        <p>
          <span class="tel">+33 (0)9 72 40 33 20</span>
          <a class="mail" href="mailto:contact@lacoroutine.org">contact@lacoroutine.org</a>
        </p>
      </div>
      <div class="block">
        <h1>Find us</h1>
        <p>
          <span class="adresse">16 Allée de la Filature <br />59000 Lille <br/> France</span>
          <span class="horaires">Monday to Friday<br /> 9:30 am - 7 pm</span>
          <span class="horaires">Possibility to have access earlier, later &amp; on weekends</span>
        </p>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>[FR] La Coroutine Nebula</h1>
        <p>
          <a target="_blank" href="http://wiki.lacoroutine.org/">Wiki</a> //
          <a target="_blank" href="http://lists.lacoroutine.org/cgi-bin/mailman/listinfo/coroutine">Mailing List</a> //
          <a target="_blank" href="https://www.loomio.org/g/uYeam08z/la-coroutine/">Decision-Making</a>
        </p>
      </div>
      <div class="block">
        <h1>Network</h1>
        <p>
          <a target="_blank" href="http://wiki.coworking.org/w/page/16583744/CoworkingVisa/">Coworking Visa</a>
          <a target="_blank" href="http://www.mutualab.org">Mutualab</a>
          <a target="_blank" href="http://www.meuhlab.org/">m.e.u.h | Lab</a>
          <a target="_blank" href="http://www.catalyst-initiative.org/">Catalyst</a>
          <a target="_blank" href="http://nord.tiers-lieux.org/">Third-places from North of France</a>
        </p>
      </div>
    </div>
  </div>
</section>
