<section id="coworking" class='m-home--coworking'>
  <div class="center">Co<br />Work<br />Ing</div>
  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      A warmfull space to develop your projects, work, train and share in good mood. Wifi, coffee, tea are included. You just have to show up and start your daily routine. Whether you're coming for 1 hour, 1 day, 1 week, 1 year or all your life... this is as simple as this ;-)
    </p>
    <div class="col-left">
      <div class="block">
        <h1>Work,<br /> Develop your projects</h1>
        <p class="first">
          20 hot desks are available. Feel free to choose your spot and meet new coworkers each day.
        </p>
        <p>
          Screens are provided. Some lockers (only for permanent coworkers) are available if needed.
        </p>
        <br/>
        <p>
          We propose you an open pricing for your first visit.
          Plus we're also parterns of the <a href="http://wiki.coworking.org/w/page/16583744/CoworkingVisa">Coworking Visa</a> initiative.
        </p>
      </div>
      <div class="block">
        <h1>Meeting up</h1>
        <p>Enjoy our inspiring atmosphere of our meeting room! Paper board, black board, video projector are available.</p>
        <p>Its capacity is of 15 people maximum (depending on the configuration of the room).</p>
        <p>We also host open events: tech talks, wikimedia committee, ...</p>
        <a class="mail" href="mailto:contact@lacoroutine.org">Book the meeting room</a>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>Pricing</h1>
        <table class="m-pricing">
          <thead>
            <tr>
              <th>Duration</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="thead">Day</th>
              <td>8 €</td>
            </tr>
            <tr>
              <th class="thead">1 hour</th>
              <td>2 €</td>
            </tr>
            <tr>
              <th class="thead">Half-Day</th>
              <td>5 €</td>
            </tr>
            <tr>
              <th class="thead">10 Half-Days</th>
              <td>40 €</td>
            </tr>
            <tr>
              <th class="thead">20 Half-Days</th>
              <td>70 €</td>
            </tr>
            <tr>
              <th class="thead">1 Month</th>
              <td>125 €</td>
            </tr>
          </tbody>
        </table>

        <p>
          <a target="_blank" title="Pricing" href="http://boutique.lacoroutine.org/shop/category/espace-coworking-2">Access to shop</a>
        </p>
      </div>
      <div class="block">
        <h1>Relaxing</h1>
        <p>Take a break in our relaxing area.</p>
        <p>
          Our bar has excellent coffee, tea, juice (fair trade/organic). Enjoy a reading session in one of our couches or hamacs, play board games or just chit chat with other fellow cowokers.
        </p>
      </div>
      <div class="partner partner--coworkinglille">
        <strong>Member of CoworkingLille network</strong>
        <img src="img/coworkinglille.png" alt="Coworking Lille" />
      </div>
      <div class="partner partner--coworkingvisa">
        <a href="http://wiki.coworking.org/w/page/16583744/CoworkingVisa">
          <strong>Member of Coworking Visa network</strong>
          <img src="img/coworking_visa.png" alt="Coworking Visa" />
        </a>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <img src="img/stat1.png" alt="Permanent members" />
        <p>15% of coworkers are permanent members</p>
      </div>
      <div class="stat">
        <img src="img/stat2.png" alt="Coworking vs Home" />
        <p>62% do prefer La Coroutine over their home</p>
      </div>
      <div class="stat">
        <img src="img/stat3.png" alt="Séduisance" />
        <p>99% observed attractiveness increase right after subscribing</p>
      </div>
      <div class="stat">
        <img src="img/stat4.png" alt="Font preuve" />
        <p>70% get sh$t done</p>
      </div>
    </div>
  </div>
</section>
