<section id="events" class='m-home--events'>
  <div class="center">Workshops &amp;<br />Events</div>
  <div class="container">
    <div class="col-left">
      <div class="block">
        <h1>Workshops &amp; talks</h1>
        <p>
          If you want to organize a workshop, the meeting room is adjustable to this kind of events. With or without tables, your call.
        </p>
        <p>
          Concerning talks, if you need a bigger space, during evenings and weekends, the coworking space can be used to host up to 60 people.
          For sure, our bar is open during such events in order to provide refreshing drinks to participants.
        </p>
        <a title="Ouvrir l'agenda" href="agenda.html">Plan an event</a>
      </div>
      <div class="block">
        <h1>Privatizing the space</h1>
        <p>
          You wanna have La Coroutine only for you? Yes, we understand and it's totally doable on evenings (after 7pm) and weekends.
        </p>
        <a href="#contact">Contact us for more details</a>
      </div>
      <div class="block">
        <div class="meeting-room-gallery" itemscope itemtype="http://schema.org/ImageGallery">
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/meeting-room/meeting-room.jpg" itemprop="contentUrl" data-size="2880x2160">
              <img src="/img/meeting-room/meeting-room-thumbnail.jpg" itemprop="thumbnail" alt="Meeting room" width="100" />
            </a>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/meeting-room/meeting-room-paper-board.jpg" itemprop="contentUrl" data-size="2880x2160">
              <img src="/img/meeting-room/meeting-room-paper-board-thumbnail.jpg" itemprop="thumbnail" alt="Meeting room with Paper board and Beamer" width="100" />
            </a>
          </figure>
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/img/meeting-room/private-meeting-room.jpg" itemprop="contentUrl" data-size="2880x2160">
              <img src="/img/meeting-room/private-meeting-room-thumbnail.jpg" itemprop="thumbnail" alt="Private meeting room" width="100" />
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
