<section id="the-space" class='m-home--space'>
  <div class="center">The<br />Sp<br />ace</div>

  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      A warmful space built, managed and funded by its user in order to create, work, hack, learn, innovate, share, ...
    </p>
    <div class="col-left">
      <div class="block">
        <h1>What is it?</h1>
        <p>
          A space of 160 square meters with tables, coffee, wifi, meeeting room, relaxation area, kitchen and good mood.
        </p>
        <a target="_blank" href="http://www.flickr.com/photos/61299367@N05/sets/72157634949533813/with/9448166157/">See photos</a>
      </div>
      <div class="block">
        <h1>How does it work?</h1>
        <p>
          <span>La Coroutine is a collaborative space:</span>
          Members are welcomed to participate in the life of the space (watering plants, feeding the stove, cooking, ...).
          Come along, open the door and meet us.
        </p>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>Opening Hours</h1>
        <p>
          From 9 am to 7 pm on weekdays.
        </p>
        <p>
          The space may stay open longer if permanent members are present or if some events are planned.
        </p>
        <a href="agenda.html">Check the calendar</a>
      </div>
      <div class="block">
        <h1>Find us</h1>
        <p>
          8 rue molière, 59000 Lille, France<br />
          Metro station : Mairie de Lille<br />
          V’lille (bike) station : Porte de Paris
        </p>
        <a target="_blank" href="http://www.openstreetmap.org/?lat=50.629269&lon=3.06963&zoom=18&layers=Q">See the map</a>
      </div>
    </div>
  </div>
</section>
