<section id="third-place" class='m-home--third-place'>
  <div class="center">Third<br />-<br />Place</div>
  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      La Coroutine is not only a coworking space. We offer a lot of activities such as an organic local market, sharing tools, hosting neighbourhood meetings, ...
    </p>
    <div class="col-left">
      <div class="block">
        <h2>Market, canteen, <br/>tools, ...</h2>
        <p>
          Every monday evening, <a href="http://www.lafermedupommier.com/">Kévin</a>, our market gardener turns the space into a mini organic market. You can pre-order vegetables every weekend for the following week.
        </p>
        <p>
          For lunch, we launched an initiative called <a target="_blank" href="http://wiki.lacoroutine.org/contribution:cocotte">Cocotte</a> : for the most motivated ones, we cook together a vegetarian dish that she share in a warmfull lunch.
        </p>
        <p>
          We also have DIY tools and hardware such as Arduino, soldering iron, drill, etc. that you can use or borrow.
        </p>
        <p>
          In short, La Coroutine is <strong>your place</strong>! Feel free to contact us if you want to start an activity in the space.
        </p>
      </div>
    </div>
    <div class="col-right">
      <div class="partner partner--meuhlab">
        <a href="http://www.meuhlab.org/">
          <strong>Member of m.e.u.h|lab network</strong>
          <img src="img/meuhlab.png" alt="m.e.u.h|lab" />
        </a>
      </div>
      <div class="pics">
        <div>
          <a target="_blank" href="http://wiki.lacoroutine.org/contribution:coucourses">
            <img src="img/maker1.png" alt="Marché" />
            <p>Market</p>
          </a>
        </div>
        <div>
          <a target="_blank" href="http://wiki.lacoroutine.org/contribution:cocotte">
            <img src="img/maker2.png" alt="Bouffe" />
            <p>Canteen</p>
          </a>
        </div>
        <div>
          <a href="http://www.meuhlab.org/">
            <img src="img/maker3.png" alt="Prototypage" />
            <p>DIY</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
