$beige: #b29d88;
$dark-grey: #242424;
$light-grey: #e6e6e6;
$pink: #ff6e6e;
$white: #ffffff;

// events
$dark-pink: #D72070;
$turquoise: #51B8A7;

// social
$blue: #3B5998;
$marine: #0084B4;
$twitter-color: $marine;
$facebook-color: $blue;

// global
$body-background: $light-grey;
$primary-color: $dark-grey;
$secondary-color: $pink;
$third-place-background-color: $beige;
