.m-agenda {
  .bg {
    z-index: -1 !important;
  }

  .col-right {
    float: left;
    width: 310px;
    margin: 73px 0px 0px 0px;
  }

  .block:first-child {
    padding-bottom: 0px !important;
  }
}
