#home {
  height: 950px;
  width: 100%;
}

#home .top {
  height: 355px;
  width: 100%;
  padding: 1px 0 0 0;
  /*background:url('../img/video_coco.jpg') no-repeat center top #707070;*/
}

#home h1 img {
  display: block;
  margin: 115px auto 0;
}

#home #menu {
  width: 890px;
  height: 200px;
  margin: 45px auto 0;
}

#home #menu li {
  font-family: Kankin, Verdana, Tahoma, sans-serif;
  display: block;
  float: left;
  width: 200px;
  padding: 0 60px 0 0;
  margin: 0 0 0 50px;
}

#home #menu li:last-child {
  margin: 0;
  width: 210px;
}

#home #menu li a {
  color: #242424;
  font-size: 3rem;
  line-height: 3.3rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  float: left;
  width: 100%;
  padding: 32px 0 0 0;
  background: url('../img/menu_hover.gif?1363621409') no-repeat -210px -11px;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

#home #menu li a:hover {
  background: url('../img/menu_hover.gif?1363621409') no-repeat -210px 0;
}

#home #tweet-feed {
  width: 700px;
  height: 32px;
  margin: 55px auto 0;
}

#home #tweet-feed span {
  -webkit-border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
  -ms-border-radius: 16px 0 0 16px;
  -o-border-radius: 16px 0 0 16px;
  border-radius: 16px 0 0 16px;
  background-image: linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -moz-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -ms-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -o-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-image: -webkit-linear-gradient(top, #4a4949 0%, #141414 100%);
  background-color: #141414;
  /* For IE9 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4949), color-stop(1, #141414));
  display: block;
  float: left;
  display: block;
  height: 32px;
  width: 50px;
}

#home #tweet-feed span i {
  background: url('../img/twitter_red_ico.png?1363524857') no-repeat 18px 7px;
  display: block;
  float: left;
  width: 100%;
  height: 32px;
}

#home #tweet-feed strong {
  background: none repeat scroll 0 0 #707070;
  color: white;
  display: block;
  float: left;
  font-size: 0.8rem;
  height: 32px;
  line-height: 30px;
  text-indent: 20px;
  width: 650px;
  -webkit-border-radius: 0 16px 16px 0;
  -moz-border-radius: 0 16px 16px 0;
  -ms-border-radius: 0 16px 16px 0;
  -o-border-radius: 0 16px 16px 0;
  border-radius: 0 16px 16px 0;
}
