<section id="home">
  <div id="video-home" class="top">
    <h1><img src="img/logo_coco.png" alt="La Coroutine : Créer, apprendre, partager" width="183" height="182" /></h1>
  </div>

  {% if site.data.messages.home %}
    <div class="m-ustream">
      <a href="{{ site.data.messages.home.link }}">
        <div class="m-ustream--container">

            <div class="picture">
              <img src="img/{{ site.data.messages.home.picture }}" alt="Evénement à la Coroutine" />
            </div>

            <div class='content'>
              <h2>{{ site.data.messages.home.title }}</h2>
              <p>
                {{ site.data.messages.home.content }}
                <br/>
                <span class='button'>Je viens</span>
              </p>
            </div>

        </div>
      </a>
    </div>
  {% endif %}

  <ul id="menu">
    <li><a href="#coworking">Co<br />Work<br />Ing</a></li>
    <li><a href="#tierslieu">Tiers<br />-<br />Lieu<br /></a></li>
    <li><a href="#events">Ateliers &amp;<br />Évén<br />ements</a></li>
  </ul>
</section>
