<section id="contact" class="m-home--contact">
  <div class="top">&nbsp;</div>
  <div class="container">
    <div class="col-left">
      <div class="block">
        <h1>Nous contacter</h1>
        <p>
          <span class="tel">09 72 40 33 20</span>
          <a class="mail" href="mailto:contact@lacoroutine.org">contact@lacoroutine.org</a>
        </p>
      </div>
      <div class="block">
        <h1>Venir</h1>
        <p>
          <span class="adresse">8 rue Molière<br />59000 Lille</span>
          <span class="horaires">Du Lundi au Vendredi<br /> de 9h à 19h+</span>
          <span class="horaires">Possibilité d'avoir accès plus tôt, plus tard ou le week-end.</span>
        </p>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>Nébuleuse Coroutine</h1>
        <p>
          <a target="_blank" href="http://wiki.lacoroutine.org/">Le wiki</a> //
          <a target="_blank" href="http://lists.lacoroutine.org/cgi-bin/mailman/listinfo/coroutine">La liste de discussion</a> //
          <a target="_blank" href="https://lacoroutine.slack.com/">Slack</a> // 
          <a target="_blank" href="https://www.loomio.org/g/uYeam08z/la-coroutine/">Prises de décision</a>
        </p>
      </div>
      <div class="block">
        <h1>Réseau</h1>
        <p>
          <a target="_blank" href="http://www.mutualab.org">Mutualab</a>
          <a target="_blank" href="http://www.meuhlab.org/">Le m.e.u.h | Lab</a>
          <a target="_blank" href="http://www.catalyst-initiative.org/">Catalyst</a>
          <a target="_blank" href="http://nord.tiers-lieux.org/">Les tiers-lieux du nord</a>
          <a target="_blank" href="http://wiki.lacoroutine.org/passtierslieux">Le pass "Tiers-Lieux"</a>
          <a target="_blank" href="http://wiki.coworking.org/w/page/16583744/CoworkingVisa/">Coworking Visa</a>
          
        </p>
      </div>
    </div>
  </div>
</section>
