<section id="coworking" class='m-home--coworking'>
  <div class="center">Co<br />Work<br />Ing</div>
  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      Un espace convivial pour développer vos projets, exercer votre activité, s’entrainer et échanger dans la bonne humeur. Wifi, café, thé compris ; vous n’avez qu’à venir et vous installer. Pour une heure, une journée, une semaine, un an ou une vie... c’est aussi simple que ça ;-)
    </p>
    <div class="col-left">
      <div class="block">
        <h1>Travailler,<br /> développer ses projets</h1>
        <p class="first">20 tables partagées sont à disposition des coworkers. Libre à vous de choisir chaque jour votre place et vos voisins pour changer d’ambiance.</p>
        <p>Des écrans sont à disposition, ainsi que des casiers de rangement pour les réguliers.</p>
        <br/>
        <p>La première journée de découverte est à prix libre et nous acceptons le <a href="http://wiki.coworking.org/w/page/16583744/CoworkingVisa">Coworking Visa</a>.</p>
      </div>
      <div class="block">
        <h1>Se réunir</h1>
        <p>Venez profiter du cadre inspirant de notre salle de réunion ! Paper board, mur à la craie, vidéo-projecteur sont à disposition.<br />
        <p>Nous pouvons accueillir jusqu’à 15 personnes en fonction de la configuration nécessaire.</p>
        <p>Nous accueillons également les événements ouverts au public : rencontres techniques, permanence wikimedia, ...</p>
        <a href="agenda.html">Réserver la salle de réunion</a>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>Tarifs</h1>
        <table class="m-pricing">
          <thead>
            <tr>
              <th>Durée</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="thead">Journée</th>
              <td>10 €</td>
            </tr>
            <tr>
              <th class="thead">1h</th>
              <td>2 €</td>
            </tr>
            <tr>
              <th class="thead">Demi-journée</th>
              <td>6 €</td>
            </tr>
            <tr>
              <th class="thead">10 Demi-journées</th>
              <td>45 €</td>
            </tr>
            <tr>
              <th class="thead">20 Demi-journées</th>
              <td>80 €</td>
            </tr>
            <tr>
              <th class="thead">1 Mois</th>
              <td>125 €</td>
            </tr>
          </tbody>
        </table>

        <p>
          <a target="_blank" title="Tarifs" href="http://boutique.lacoroutine.org/shop/category/espace-coworking-2">Acheter sur la boutique</a>
        </p>
      </div>
      <div class="block">
        <h1>Se détendre</h1>
        <p>Prenez un break dans notre espace détente.</p>
        <p>Notre bar vous propose d’excellents cafés, thé, jus (fair trade/bio) pour accompagner une lecture de la bibliothèque, une pause dans les hamacs ou un moment de convivialité partagé autour d’un jeu de société.</p>
      </div>
      <div class="partner partner--coworkinglille">
        <strong>Membre du réseau CoworkingLille</strong>
        <img src="img/coworkinglille.png" alt="Coworking Lille" />
      </div>
      <div class="partner partner--coworkingvisa">
        <a href="http://wiki.coworking.org/w/page/16583744/CoworkingVisa">
          <strong>Membre du réseau Coworking Visa</strong>
          <img src="img/coworking_visa.png" alt="Coworking Visa" />
        </a>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <img src="img/stat1.png" alt="Membres réguliers" />
        <p>15% des coworkers sont des membres réguliers</p>
      </div>
      <div class="stat">
        <img src="img/stat2.png" alt="Coworking vs Domicile" />
        <p>62% déclarent préférer la Coroutine à leur domicile personnel</p>
      </div>
      <div class="stat">
        <img src="img/stat3.png" alt="Séduisance" />
        <p>99% des membres ont constaté un gain de séduisance suite à leur adhésion</p>
      </div>
      <div class="stat">
        <img src="img/stat4.png" alt="Font preuve" />
        <p>70% des coworkers ont pour habitude de faire preuve</p>
      </div>
    </div>
  </div>
</section>
