<section id="events" class='m-home--events'>
  <div class="center">Ateliers &amp;<br />Évén<br />Ements</div>
  <div class="container">
    <div class="col-left">
      <div class="block">
        <h1>Ateliers &amp; conférences</h1>
        <p>
          Si vous souhaitez organiser un atelier, l’espace de réunion est modulable et peut tout à fait s’adapter à ce type d’événements. Avec ou sans tables, vous choisissez.
        </p>
        <p>
          En ce qui concerne les conférences, si vous avez besoin d’un grand espace, l’espace de coworking peut se transformer en soirée &amp; week ends pour acceuillir jusqu’à 60 personnes.
          Bien entendu, notre bar est présent pour vous assurer de quoi désaltérer les participants durant votre événement, avec de bons produits locaux.
        </p>
        <a title="Ouvrir l'agenda" href="agenda.html">Planifier un événement</a>
      </div>
      <div class="block">
        <h1>Privatiser l'espace</h1>
        <p>
          Vous souhaitez la Coroutine rien que pour vous ? On vous comprend ... c’est possible en soirée (à partir de 19h) et le week-end.
        </p>
        <a href="#contact">Contactez-nous pour plus d'informations</a>
      </div>
      <div class="block">
        {% include meeting_room_gallery.html %}
      </div>
    </div>
  </div>
</section>
