<section id="espace" class='m-home--space'>
  <div class="center">L'<br />Es<br />Pace</div>

  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      Un espace convivial construit, géré et financé par ses usagers pour créer, travailler, bidouiller, apprendre, innover, partager, échanger...
    </p>
    <div class="col-left">
      <div class="block">
        <h1>Qu'est-ce qu'on y trouve ?</h1>
        <p>
          Un espace de 160m² avec des tables, du café, du wifi, une salle de réunion, une salle détente, une cuisine et de la bonne humeur.
        </p>
        <a target="_blank" href="http://www.flickr.com/photos/61299367@N05/sets/72157634949533813/with/9448166157/">Voir les photos</a>
      </div>
      <div class="block">
        <h1>Comment ça marche ?</h1>
        <p>
          <span>La Coroutine est un espace contributif :</span>
          Ceux qui le souhaitent peuvent apporter un peu d’attention au lieu (arroser les plantes, alimenter le feu du poêle, cuisiner ...). Pour s'inscrire, il suffit de pousser la porte.
        </p>
        <br/>
        <p>
          Si vous souhaitez en savoir un peu plus sur l'histoire du lieu et ce qu'il s'y passe, jetez un oeil à la
          <a target="_blank" href="https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1EFavJEK47HQN6cJaSaR7tp1bI90DrSFEvijWFW6UQeY&font=Bevan-PotanoSans&maptype=toner">frise chronologique</a>
        </p>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>Horaires et ouverture</h1>
        <p>
          Pour l'espace de coworking, de 9H à 19H+ les jours ouvrés. Pour les autres moments, l'ouverture se fait en fonction des événéments programmés.
        </p>
        <p>
          <em>Il est possible d'élargir la plage horaire le matin, soir ou wd avec un pass ou en nous prévenant avant par mail ou tel :)</em>
        </p>
        <a title="Agenda de la Coroutine" href="agenda.html">Consulter l'agenda</a>
      </div>
      <div class="block">
        <h1>Comment venir</h1>
        <p>
          Au 8 rue molière, 59000 Lille<br />
          Métro : Mairie de Lille<br />
          Station v’lille Porte de Paris à 1 minute
        </p>
        <a target="_blank" href="http://www.openstreetmap.org/?lat=50.629269&lon=3.06963&zoom=18&layers=Q">Voir le plan</a>
      </div>
    </div>
  </div>
</section>
