<section id="tierslieu">
  <div class="center">Tiers<br />-<br />Lieu</div>
  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      Au delà du travail, la Coroutine accueille de nombreuses activités : marché de légumes bio, mise à disposition de moyens pour les réunions de quartiers, partage d'outils, ...
    </p>
    <div class="col-left">
      <div class="block">
        <h2>Marché, cantine, <br/>outils, ...</h2>
        <p>
          Chaque lundi soir, <a href="http://www.lafermedupommier.com/">Kévin</a>, notre maraîcher transforme l'espace en mini-marché aux légumes biologiques. Vous pouvez pré-commander votre panier chaque fin de semaine précédente en suivant <a target="_blank" href="http://wiki.lacoroutine.org/contribution:coucourses">ce lien</a>.
        </p>
        <p>
          Le midi, c'est la <a target="_blank" href="http://wiki.lacoroutine.org/contribution:cocotte">Cocotte</a> : pour les motivés, nous préparons ensemble un repas végétarien que nous dégustons ensuite dans une ambiance conviviale.
        </p>
        <p>
          Nous avons aussi du matériel de prototypage et de bricolage disponible sur place : Arduino, fers à souder, perceuses, etc... à utiliser sur place ou à emprunter.
        </p>
        <p>
          Bref, vous l'aurez compris : la Coroutine, c'est <strong>votre lieu</strong> ! N'hésitez pas à nous contacter si vous souhaitez mettre en place une activité au sein de l'espace, nous vous recevrons avec plaisir.
        </p>
      </div>
    </div>
    <div class="col-right">
      <div id="meuhlab">
        <a href="http://www.meuhlab.org/">
          <strong>Membre du réseau m.e.u.h|lab</strong>
          <img src="img/meuhlab.png" alt="m.e.u.h|lab" />
        </a>
      </div>
      <div id="meuhpics">
        <div>
          <a target="_blank" href="http://wiki.lacoroutine.org/contribution:coucourses">
            <img src="img/maker1.png" alt="Marché" />
            <p>Marché</p>
          </a>
        </div>
        <div>
          <a target="_blank" href="http://wiki.lacoroutine.org/contribution:cocotte">
            <img src="img/maker2.png" alt="Bouffe" />
            <p>Cocotte</p>
          </a>
        </div>
        <div>
          <a href="http://www.meuhlab.org/">
            <img src="img/maker3.png" alt="Prototypage" />
            <p>Prototypage</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
