@font-face {
  font-family: 'Futura';
  src: url("../fonts/futuralt-book-webfont.eot");
  src: url("../fonts/futuralt-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-book-webfont.woff") format("woff"), url("../fonts/futuralt-book-webfont.ttf") format("truetype"), url("../fonts/futuralt-book-webfont.svg#futura_ltbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kankin';
  src: url("../fonts/kankin.eot");
  src: url("../fonts/kankin.eot?#iefix") format("embedded-opentype"), url("../fonts/kankin.woff") format("woff"), url("../fonts/kankin.ttf") format("truetype"), url("../fonts/kankin.svg#kankin") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Futura, Arial, Helvetica, sans-serif;
}

a {
  color: $primary-color;

  &:active, &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.container {
  width: 970px;
  margin: 0 auto;
}

.col-left {
  float: left;
  width: 310px;
}

.col-right {
  float: left;
  width: 310px;
  margin: 0 0 0 350px;
}

.block {
  width: 300px;
  margin: 0 0 20px;
}

.block {
  h1, h2 {
    font-size: 1.15rem;
    padding: 0 0 15px 15px;
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 0.95rem;
    padding: 0 0 0 15px;
  }

  a {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 15px 0 0 15px;
    text-decoration: none;
  }
}

.block > p > a {
  display: inline;
  font-size: 0.75rem;
  margin: 0;
}

footer {
  background: none repeat scroll 0 0 $primary-color;
  color: white;
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 25px 0 70px;
  text-align: center;
  width: 100%;
}
