.l-navbar {
  width: 970px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0 -485px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;

  ul {
    padding: 0 0 0 30px;

    li {
      display: block;
      float: left;
      line-height: 50px;
      font-size: 0.85rem;
      padding: 0 22px 0 0;

      a {
        color: scale-color($primary-color, $lightness: +35%);
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $secondary-color;
        }
      }

      &.active a {
        color: $secondary-color;
      }
    }
  }

  a.twitter {
    text-indent: -999rem;
    background: url('../img/twitter_ico.png?1363604849') no-repeat center center;
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 11px;
    right: 54px;
    outline: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

    &:focus, &:active, &:hover {
      background-color: $twitter-color;
    }
  }

  a.facebook {
    text-indent: -999rem;
    background: url('../img/fb_ico.png?1363604830') no-repeat center center;
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 11px;
    right: 18px;
    outline: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;

    &:focus, &:active, &:hover {
      background-color: $facebook-color;
    }
  }

  .langs {
    float: right;
    margin-right: 5rem;
  }
}

