.m-home--coworking {
  height: 1045px;
  width: 100%;
  position: relative;
  background: url('../img/coworking_bg.png?1363783748') no-repeat center center fixed $body-background;
  color: $primary-color;
  z-index: 500;

  a {
    color: $primary-color;
    position: relative;
    z-index: 5000;
  }

  p.intro {
    font-size: 1.05rem;
    line-height: 1.3rem;
    padding: 100px 0 0 15px;
    width: 735px;
  }

  .bg {
    background: url('../img/pencil_over.png?1363783880') no-repeat fixed 65% 160%;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
  }

  .center {
    font-family: Kankin, Verdana, Tahoma, sans-serif;
    background: url('../img/title_border_black.png?1363780897') no-repeat scroll left 4px transparent;
    display: block;
    font-size: 3.5rem;
    height: 172px;
    left: 51%;
    line-height: 3.9rem;
    margin: 0 -83px;
    padding: 0 0 0 25px;
    position: absolute;
    text-transform: uppercase;
    top: 385px;
    width: 166px;
    z-index: 400;
  }

  .col-left {
    .block:first-child {
      padding: 70px 0 42px 0;

      p.first {
        margin-bottom: 20px;
        width: 80%;
      }
    }

    .block:last-child p {
      margin-bottom: 10px;
    }
  }

  .col-right .block:first-child {
    margin-top: 350px;
    padding-left: 10px;
    margin-bottom: 60px;
  }
}
