.m-ustream {
  background-color: $turquoise;
  margin-top: -1px;

  a, a:hover, a:active {
    color: white;
    text-decoration: none;
  }

  .m-ustream--container {
    position: relative;
    left: 0;
    right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 10rem;
    padding: 2rem 0;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    img {
      height: 100%;
    }


    p {
      margin-bottom: 2rem;
      padding: 2rem;
      font-size: 1.1rem;
    }

    .content, .picture {
      float: left;
      height: 10rem;
    }

    .content {
      width: 60%;
      padding-top: 1rem;
    }

    .picture {
      width: 30%;
    }

    .button {
      -webkit-border-radius: 9;
      -moz-border-radius: 9;
      border-radius: 9px;

      background: $dark-pink;
      color: $white;
      display: inline-block;
      margin-top: 1rem;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background: scale-color($dark-pink, $lightness: +15%);
      }
    }
  }
}
