.partner strong {
  border-right: 1px solid #242424;
  float: left;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0 10px 0 0;
  position: relative;
  top: 2px;
  right: 12px;
  text-align: right;
  width: 150px;
}

.partner--coworkingvisa img {
  width: 118px;
}

.partner--meuhlab {
  margin-top: 345px;
}
