<section id="coworking">
  <div class="center">Co<br />Work<br />Ing</div>
  <div class="container">
    <div class="bg">&nbsp;</div>
    <p class="intro">
      Un espace convivial pour développer vos projets, exercer votre activité, s’entrainer et échanger dans la bonne humeur. Wifi, café thé compris ; vous n’avez qu’à venir et vous installer. Pour une heure, une journée, une semaine, un an ou une vie... c’est aussi simple que ça ;-)
    </p>
    <div class="col-left">
      <div class="block">
        <h1>Travailler,<br /> développer ses projets</h1>
        <p class="first">20 tables partagées sont à disposition des coworkers. Libre à vous de choisir chaque jour votre place et vos voisins pour changer d’ambiance.</p>
        <p>Des écrans sont à disposition, ainsi que des casiers de rangement pour les réguliers.</p>
        <br/>
        <p>La première journée de découverte est à prix libre et nous acceptons le Coworking Visa.</p>
        <a target="_blank" title="Tarifs" href="http://boutique.lacoroutine.org/shop/category/espace-coworking-2">Voir les tarifs sur la boutique</a>
      </div>
      <div class="block">
        <h1>Se réunir</h1>
        <p>Venez profiter du cadre inspirant de notre salle de réunion ! Paper board, mur à la craie, vidéoprojecteur sont à disposition.<br />
          <p>Nous pouvons accueillir jusqu’à 20 personnes en fonction de la configuration nécessaire.</p>
          <p>Pour réserver la salle de réunion, planifier un événement ou consulter l'agenda : c'est ici sur la page <a title="Agenda de la Coroutine" href="agenda.html">Agenda</a>.</p>
      </div>
    </div>
    <div class="col-right">
      <div class="block">
        <h1>Se détendre</h1>
        <p>Prenez un break dans notre espace de détente.</p>
        <p>Notre bar vous propose d’excellents cafés, thé jus (fair trade/bio) pour accompagner une lecture de la bibliothèque, une pause dans les hamacs ou épauler un moment de convivialité autour d’un jeu de société.</p>
      </div>
      <div id="coworkinglille">
        <strong>Membre du réseau CoworkingLille</strong>
        <img src="img/coworkinglille.png" alt="Coworking Lille" />
      </div>
    </div>
    <div id="stats">
      <div class="stat">
        <img src="img/stat1.png" alt="15%" />
        <p>15% des coworkers sont des membres réguliers</p>
      </div>
      <div class="stat">
        <img src="img/stat2.png" alt="62%" />
        <p>62% déclarent préférer la Coroutine à leur domicile personnel</p>
      </div>
      <div class="stat">
        <img src="img/stat3.png" alt="99%" />
        <p>99% des membres ont constaté un gain de séduisance suite à leur adhésion</p>
      </div>
      <div class="stat">
        <img src="img/stat4.png" alt="70%" />
        <p>70% des coworkers ont pour habitude de faire preuve</p>
      </div>
    </div>
  </div>
</section>
